@tailwind base;
@tailwind components;
@tailwind utilities;

.wa-main {
  height: calc(100% - 4rem);
}

.plan-drawer {
  height: 100%;
}
.drawer-content {
  height: calc(100% - 4rem);
}

.tab.tab-active:not(.tab-disabled):not([disabled]) {
  border-color: hsl(var(--p) / var(--tw-text-opacity)) !important;
}

.textarea-mention__input {
  outline: none !important;
}