@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Pretendard Variable', Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

.text-wrap {
  text-wrap: wrap;
}

html,
body {
  background-color: #f5f5f7;
}

.wa-main {
  height: calc(100% - 4rem);
}

.scaling-plans-drawer {
  height: 100%;
}

.tab.tab-active:not(.tab-disabled):not([disabled]) {
  border-color: hsl(var(--p) / var(--tw-text-opacity)) !important;
}

.textarea-mention__input {
  outline: none !important;
}

.input-group-label-fixed {
  width: 7rem;
}

/* Overrides */
.stats, .wa-card {
  background: #fafafb;
  border: 1px solid #d4d5d8;
  /* Drop shadow/Container */
  box-shadow: 0px 2px 6px rgba(23, 25, 28, 0.04);
  border-radius: 8px;
}

.stat, .wa-card-body {
  padding-top: 1rem !important;
  padding-bottom: 1.5rem !important;
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

.stat-title {
  font-size: 0.825rem !important;
  font-weight: 600 !important;
  color: #656669 !important;
}
